NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBxWJXDEu1dafnwJ4J9Gd43534NK3W7dh05hp5I
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=chi-tieu-ca-nhan-db.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=chi-tieu-ca-nhan-db
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=chi-tieu-ca-nhan-db.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=52804534554184965
NEXT_PUBLIC_FIREBASE_APP_ID=1:52804534554184965:web:195643534532dcae0abcb6eb006c